<a href="https://colab.research.google.com/github/duellal/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Duell_LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [ ]:
import pandas as pd

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

--2020-11-21 18:52:52--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.89.119.29, 34.212.162.58, 54.69.106.242
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.89.119.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [      <=>           ]  22.37M  2.87MB/s    in 8.2s

2020-11-21 18:53:01 (2.74 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23459818]

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [ ]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [ ]:
df

        id  member_id  ...  settlement_percentage  settlement_term
0      NaN        NaN  ...                    NaN              NaN
1      NaN        NaN  ...                    NaN              NaN
2      NaN        NaN  ...                    NaN              NaN
3      NaN        NaN  ...                    NaN              NaN
4      NaN        NaN  ...                    NaN              NaN
...     ..        ...  ...                    ...              ...
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[128412 rows x 144 columns]

## Convert the term column from string to integer.

In [ ]:
loan = df.drop(['desc', 'url', 'member_id', 'id'], axis=1).copy()

In [ ]:
term = loan['term']

In [ ]:
df['term']

0          36 months
1          36 months
2          36 months
3          60 months
4          36 months
             ...
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, Length: 128412, dtype: object

In [ ]:
df['term'].isnull().sum()

0

In [ ]:
loan['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [ ]:
loan['term'][0]

' 36 months'

In [ ]:
term_2 = " 24 months"
term_2

' 24 months'

In [ ]:
term_2.strip().strip(' months')

'24'

In [ ]:
type(int(term_2.strip().strip(' months')))

int

In [ ]:
def term_to_integer(term):
  if isinstance(term, str):
    return int(term.strip().strip(' months'))
  else:
    return 'NaN'

In [ ]:
loan['term_int'] = df['term'].apply(term_to_integer)
loan.head()

   loan_amnt  funded_amnt  ...  settlement_term term_int
0      20000        20000  ...              NaN       36
1      12000        12000  ...              NaN       36
2       7000         7000  ...              NaN       36
3      25000        25000  ...              NaN       60
4      10400        10400  ...              NaN       36

[5 rows x 141 columns]

## Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [ ]:
loan['loan_status'].value_counts()

Current               75005
Fully Paid            38988
Charged Off           11228
Late (31-120 days)     1367
In Grace Period        1257
Late (16-30 days)       360
Default                 207
Name: loan_status, dtype: int64

In [ ]:
loan_status = df['loan_status']

In [ ]:
loan_status[0]

'Charged Off'

In [ ]:
def loan_status_is_great(loan_status):
  if loan_status=='Current' or loan_status=='Fully Paid':
    return '1'
  else:
    return '0'

In [ ]:
loan['loan_status_is_great'] = df['loan_status'].apply(loan_status_is_great)

In [ ]:
loan

        loan_amnt  funded_amnt  ...  term_int loan_status_is_great
0           20000        20000  ...        36                    0
1           12000        12000  ...        36                    0
2            7000         7000  ...        36                    1
3           25000        25000  ...        60                    1
4           10400        10400  ...        36                    1
...           ...          ...  ...       ...                  ...
128407      23000        23000  ...        36                    0
128408      10000        10000  ...        36                    1
128409       5000         5000  ...        36                    1
128410      10000        10000  ...        36                    1
128411      10000        10000  ...        36                    1

[128412 rows x 142 columns]

## Make last_pymnt_d_month and last_pymnt_d_year columns.

In [ ]:
loan

        loan_amnt  funded_amnt  ...  term_int loan_status_is_great
0           20000        20000  ...        36                    0
1           12000        12000  ...        36                    0
2            7000         7000  ...        36                    1
3           25000        25000  ...        60                    1
4           10400        10400  ...        36                    1
...           ...          ...  ...       ...                  ...
128407      23000        23000  ...        36                    0
128408      10000        10000  ...        36                    1
128409       5000         5000  ...        36                    1
128410      10000        10000  ...        36                    1
128411      10000        10000  ...        36                    1

[128412 rows x 142 columns]

In [ ]:
df['last_pymnt_d'].fillna(value='Jan-1800', inplace=True)

In [ ]:
df['last_pymnt_d'].unique()

array(['Feb-2020', 'Aug-2020', 'Jul-2019', 'Apr-2019', 'Sep-2020',
       'Feb-2019', 'Sep-2019', 'Oct-2020', 'Jan-2020', 'Oct-2019',
       'May-2020', 'Dec-2019', 'Aug-2019', 'Apr-2020', 'May-2019',
       'Jul-2020', 'Jun-2020', 'Jan-2019', 'Mar-2020', 'Jun-2019',
       'Mar-2019', 'Nov-2019', 'Nov-2020', 'Jan-1800', 'Dec-2018',
       'Dec-2020', 'Nov-2018', 'Oct-2018'], dtype=object)

In [ ]:
df['last_pymnt_d'].isnull().sum()

0

In [ ]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [ ]:
df['last_pymnt_d'].head()

0   2020-02-01
1   2020-08-01
2   2019-07-01
3   2019-04-01
4   2020-09-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [ ]:
df['last_pymnt_d'].isnull().sum()

0

In [ ]:
df['last_pymnt_d'].unique()

array(['2020-02-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2019-08-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2019-05-01T00:00:00.000000000', '2020-07-01T00:00:00.000000000',
       '2020-06-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '1800-01-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2020-12-01T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [ ]:
df['last_pymnt_d'][0]

Timestamp('2020-02-01 00:00:00')

In [ ]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [ ]:
df['last_pymnt_d_month'].isnull().sum()

0

In [ ]:
df['last_pymnt_d_month'].dtype

dtype('int64')

In [ ]:
df

        id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0      NaN        NaN  ...                   2               2020
1      NaN        NaN  ...                   8               2020
2      NaN        NaN  ...                   7               2019
3      NaN        NaN  ...                   4               2019
4      NaN        NaN  ...                   9               2020
...     ..        ...  ...                 ...                ...
128407 NaN        NaN  ...                  12               2018
128408 NaN        NaN  ...                  10               2020
128409 NaN        NaN  ...                  10               2020
128410 NaN        NaN  ...                  10               2020
128411 NaN        NaN  ...                  10               2020

[128412 rows x 146 columns]

In [ ]:
def int_rate_to_float(string):
  return float(string.strip().strip('%'))

In [ ]:
df['int_rate_2'] = df['int_rate'].apply(int_rate_to_float)
df.head()

   id  member_id  loan_amnt  ...  last_pymnt_d_month  last_pymnt_d_year int_rate_2
0 NaN        NaN      20000  ...                   2               2020      14.47
1 NaN        NaN      12000  ...                   8               2020      16.14
2 NaN        NaN       7000  ...                   7               2019      10.72
3 NaN        NaN      25000  ...                   4               2019      16.14
4 NaN        NaN      10400  ...                   9               2020      12.98

[5 rows x 147 columns]

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

## Lending Club

### Removing Percent Signs from revol_util Coloumn

In [ ]:
df['revol_util'].head()

0      73%
1    61.8%
2     7.5%
3    36.8%
4     9.8%
Name: revol_util, dtype: object

In [ ]:
df['revol_util'].isnull().sum()

156

In [ ]:
df['revol_util'][0]

'73%'

In [ ]:
revol_util2 = '49%'
revol_util2

'49%'

In [ ]:
revol_util2.strip('%')

'49'

In [ ]:
type(revol_util2.strip('%'))

str

In [ ]:
float(revol_util2.strip('%'))

49.0

In [ ]:
def revol_util_int(revol_util):
  if isinstance(revol_util, str):
    return float(revol_util.strip('%'))
  else:
    return 'NaN'

In [ ]:
df['revol_util_int'] = df['revol_util'].apply(revol_util_int)
df

        id  member_id  loan_amnt  ...  last_pymnt_d_year  int_rate_2 revol_util_int
0      NaN        NaN      20000  ...               2020       14.47             73
1      NaN        NaN      12000  ...               2020       16.14           61.8
2      NaN        NaN       7000  ...               2019       10.72            7.5
3      NaN        NaN      25000  ...               2019       16.14           36.8
4      NaN        NaN      10400  ...               2020       12.98            9.8
...     ..        ...        ...  ...                ...         ...            ...
128407 NaN        NaN      23000  ...               2018       15.02           43.6
128408 NaN        NaN      10000  ...               2020       15.02           37.1
128409 NaN        NaN       5000  ...               2020       13.56           27.3
128410 NaN        NaN      10000  ...               2020       11.06           13.1
128411 NaN        NaN      10000  ...               2020       16.91           30.8

[128412 rows x 148 columns]

### Replacing emp_title with "Other" if not in top 20

In [ ]:
df['emp_title'].value_counts().head(21)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Operations Manager           387
Truck Driver                 387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Accountant                   268
Name: emp_title, dtype: int64

In [ ]:
def clean_emp_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

In [ ]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

In [ ]:
df['emp_title'].value_counts().head(21)

Unknown                     20947
Teacher                      2557
Manager                      2395
Registered Nurse             1418
Driver                       1258
Supervisor                   1160
Truck Driver                  920
Rn                            834
Office Manager                805
Sales                         803
General Manager               791
Project Manager               720
Owner                         625
Director                      523
Operations Manager            518
Sales Manager                 500
Police Officer                440
Nurse                         425
Technician                    420
Engineer                      412
Administrative Assistant      409
Name: emp_title, dtype: int64

In [ ]:
def emp_title_Top20(emp_title):
  if isinstance(emp_title, str):
    return 
  else:
    return 'NaN'

In [ ]:
df['emp_title_Top20'] = df['emp_title'].apply(emp_title_Top20)
df.head()

TypeError: ignored

### Instacart

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01